@keyframes mobileNavAni {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    50%{
      opacity: 0.2;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@keyframes showSide {
    0% {
      transform: translateX(-10%);
      opacity: 0;
    }
    50%{
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    margin-top: 20px;
    overflow: hidden;
    padding: 10px 0;
    background: #1a1e4885;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #1A1E48);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #1A1E48);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 200px;
    margin: 0 40px;
    border-radius:10px;
  }
  