.menu {
  display: none;
}

.burger {
  position: relative;
  width: 35px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .40s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}

.burger input:checked~span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}

.burger input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
  top: 25px;
  left: 5px;
  transform: rotate(-405deg);
}

.mobileNav {
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  animation: mobileNavAni 0.3s ease-in-out;
}

.mobileNav section {
  height: 100px;
}

.MobileAnchors {
  display: none;
  align-items: center;
  justify-content: center;
}

.MobileAnchors article {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  text-align: center;
  font-family: Roboto Flex;
  font-size: 25px;
  /* font-weight: 600; */
}
/* Gambiarra */
.mT{
  margin-top: -180px;
}

#windowTop{
  background-color: #1A1E48;
}
/* Gambiarra */

@media screen and (max-width:1050px) {
  .imgLegend{
    display: none;
  }
  .secBgImg{
    background: none;
    /* width: 100%;
    background-size: auto; */
  }
  .secObj{
    background: none;
  }
  .secIntroO{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 650px;
    width: 90%;
  }
  .secList{
    text-align: justify;
    gap: 25px;
  }
  .secTitleHResp{
    text-align: center;
  }
  .secListItem{
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width:800px) {
  body {
    background-image: url(../assets/bg/mobile.svg);
  }

  .menu {
    display: flex;
  }

  .navAnchors {
    display: none;
  }

  .navbar {
    display: flex;
    /* justify-content: space-around; */
  }

  .logoNav{
    width: 90%;
    display: flex;
    justify-content: start;
  }

  .titleH {
    font-size: 32px;
  }

  .description {
    text-align: justify;
  }

  .menu {
    display: block;
  }

  .secTitleH {
    text-align: center;
  }

  .secDescription {
    text-align: justify;
  }

  .secIntro{
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
  }
  .secIntro2{
    flex-wrap: wrap-reverse;
  }
  .secTextH {
    width: 100%;
  }

  .secParagraphTitle {
    display: flex;
    align-items: flex-end;
  }

  .secImg {
    width: 100%;
    max-width: 400px;
  }
  .logos {
    margin-top: -80px;
  }
}
@media screen and (max-width:700px) {
  .textH {
    width: 100%;
  }
  .logos:before {
    left: 0;
    background: linear-gradient(to left, #1a1e4800, #1a1e4828);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, #1a1e4800, #1a1e482a);
  }
  .logos-slide img {
    height: 200px;
    margin: 0 20px;
  }
  .secBgImg{
    display: none;
  }
  .secBgImgMobile{
    background-image: url(../assets/bg/waterOnHand-secBg.png);
    background-color: #1A1E48;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .titleObjMobile{
    background: linear-gradient(0deg, #1A1E48 5.51%, rgba(26, 30, 72, 0.00) 99.96%);

    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .DeskNone{
    display: block;
  }
}
@media screen and (max-width:500px) {
  .mobileNone{
    display: none;
  }

}
