@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --bg: #1A1E48;
    --fontW: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1A1E48;
}

::-webkit-scrollbar-thumb {
    background-color: #21254E;
    border-radius: 20px;
}

body {
    background-image: url(../assets/bg/desktop.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    color: var(--fontW);
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: var(--fontW);
    cursor: pointer;
}

main {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.header {
    margin: 0 auto;
    width: 90%;
    max-width: 1062px;
    height: 100vh;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: showSide 0.5s ease-in-out;
}

.titleH {
    color: var(--fontW);
    font-family: Roboto;
    font-size: clamp(28px, 38px, 40px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.textH {
    width: 60%;
}

.description {
    color: #ffffff6b;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btnH {
    width: 220px;
    height: 50px;

    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.21);
    background: rgba(255, 255, 255, 0.14);
    /* backdrop-filter: blur(25px); */

    color: #ffffffe5;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.btnH:hover{
    background: #21254E;
    color: #ffffffc9;
}

.secIntro {
    margin: 0 auto;
    width: 95%;
    max-width: 1062px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    animation: showSide 0.5s ease-in-out;
}

.secImg {
    width: 355px;
    border-radius: 100%;
    border: 2px solid rgba(54, 57, 94, 0.95);
}

.secTitleH {
    color: var(--fontW);
    font-family: Roboto;
    font-size: clamp(28px, 38px, 40px);
    font-weight: 700;
    letter-spacing: -0.5px;
}

.secTextH {
    width: 100%;
    /* max-width: 520px; */
    text-align: right;
}

.secTextH2 {
    text-align: left;
}

.secDescription {
    color: #ffffff6b;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.secParagraphTitle {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: center;
    gap: 15px;
}

.secBgImg {
    background-image: url(../assets/bg/waterOnHand-secBg.png);
    background-repeat: no-repeat;
    background-size: 61%;
    background-position: right;
    /* background-size: contain; */
}

.secObj {
    width: 100%;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(90deg, #1A1E48 45.39%, rgba(26, 30, 72, 0.00) 99.85%);
}

.secList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secListItem{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

.secTextList{
    max-width: 700px;
}

.imgLegend{
    display: flex;
    align-items: flex-end;
    padding: 25px;
}
.secIntroO{
    margin: 0 auto;
    width: 95%;
    max-width: 1062px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    animation: showSide 0.5s ease-in-out;
}

footer {
    background-color: #1a1e486e;
    backdrop-filter: blur(25px);
    width: 100%;
    height: 200px;
    border-top: 1px solid #2b2e4e;
    display: flex;
    justify-content: center;
    align-items: center;
}